[Desktop Entry]

Version=1.0

Name=Change Mako theme
Name[ar]=
Name[ast]=
Name[bn]=
Name[ca]=
Name[cs]=
Name[da]=
Name[el]=
Name[es]=
Name[et]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[gl]=
Name[he]=
Name[hr]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[ku]=
Name[lt]=
Name[nb]=
Name[nl]=
Name[nn]=
Name[no]=
Name[pl]=
Name[pt]=Mudar tema do Mako
Name[pt_BR]=Alterar tema do Mako
Name[ro]=
Name[ru]=
Name[sk]=
Name[sl]=
Name[sv]=
Name[tr]=
Name[ug]=
Name[uk]=
Name[vi]=
Name[zh_CN]=
Name[zh_TW]=


GenericName=Change Mako theme
GenericName[ar]=
GenericName[ast]=
GenericName[bn]=
GenericName[ca]=
GenericName[cs]=
GenericName[da]=
GenericName[el]=
GenericName[es]=
GenericName[et]=
GenericName[fa]=
GenericName[fi]=
GenericName[fr]=
GenericName[gl]=
GenericName[he]=
GenericName[hr]=
GenericName[hu]=
GenericName[it]=
GenericName[ja]=
GenericName[ko]=
GenericName[ku]=
GenericName[lt]=
GenericName[nb]=
GenericName[nl]=
GenericName[nn]=
GenericName[no]=
GenericName[pl]=
GenericName[pt]=Mudar tema do Mako
GenericName[pt_BR]=Trocar tema do Mako
GenericName[ro]=
GenericName[ru]=
GenericName[sk]=
GenericName[sl]=
GenericName[sv]=
GenericName[tr]=
GenericName[ug]=
GenericName[uk]=
GenericName[vi]=
GenericName[zh_CN]=
GenericName[zh_TW]=


Comment=Mako Theme Switcher.
Comment[ar]=
Comment[ast]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[et]=
Comment[fa]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[he]=
Comment[hr]=
Comment[hu]=
Comment[it]=
Comment[ja]=
Comment[ko]=
Comment[ku]=
Comment[lt]=
Comment[nb]=
Comment[nl]=
Comment[nn]=
Comment[no]=
Comment[pl]=
Comment[pt]=Seletor de temas Mako.
Comment[pt_BR]=Alternador de tema Mako.
Comment[ro]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sv]=
Comment[tr]=
Comment[ug]=
Comment[uk]=
Comment[vi]=
Comment[zh_CN]=
Comment[zh_TW]=



# Exec=sh -c '$HOME/.config/mako/alternador-de-tema-mako.sh'

Exec=/usr/local/bin/alternador-de-tema-mako.sh

Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Utility;


Keywords=mako;theme;;
Keywords[ar]=;;;
Keywords[ast]=;;;
Keywords[ca]=;;;
Keywords[cs]=;;;
Keywords[da]=;;;
Keywords[de]=;;;
Keywords[el]=;;;
Keywords[es]=;;;
Keywords[fi]=;;;
Keywords[fr]=;;;
Keywords[he]=;;;
Keywords[hr]=;;;
Keywords[hu]=;;;
Keywords[it]=;;;
Keywords[is]=;;;
Keywords[ja]=;;;
Keywords[nb]=;;;
Keywords[nl]=;;;
Keywords[pt]=mako;tema;;
Keywords[pt_BR]=mako;tema;;
Keywords[ru]=;;;
Keywords[sk]=;;;
Keywords[sl]=;;;
Keywords[tr]=;;;
Keywords[uk]=;;;
Keywords[vi]=;;;
Keywords[zh_CN]=;;;
Keywords[zh_TW]=;;;


# ~/.local/share/applications/mako-theme-switcher.desktop


