---
whiskers:
  version: 2.1.0
  matrix:
    - flavor
  filename: "themes/{{ flavor.identifier }}.txt"
---

{%- set palette = flavor.colors -%}

# Colors

background-color=#{{ palette.base.hex }}
text-color=#{{ palette.text.hex }}
border-color=#{{ palette.blue.hex }}
progress-color=over #{{ palette.surface0.hex}}

[urgency=high]
border-color=#{{ palette.peach.hex }}
