---
whiskers:
  version: "2.4.0"
  matrix:
    - flavor
    - accent
  filename: "themes/catppuccin-{{ flavor.identifier }}/catppuccin-{{ flavor.identifier }}-{{ accent }}"
---
# Colors

background-color=#{{ base.hex }}
text-color=#{{ text.hex }}
border-color=#{{ flavor.colors[accent].hex }}
progress-color=over #{{ surface0.hex}}

[urgency=high]
border-color=#{{ peach.hex }}
